@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    background-color: #FFFFFF;   
}

body h1{
    color: #131013;
}

main {
    background-color: #F6EFF4;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body img {
    width: 5%;
}


.begin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.begin img {
    width: 100%;
    max-width: 250px;
    border-radius: 0.5rem;
}

.begin h2 {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 50px;
}

.begin button {
    font-size: 1.5rem;
    width: 50%;
    transition: all 0.3s;
}
.begin button:hover, .begin button:focus {
    transform: scale(1.1);
}


.content {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.questionQtd {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.questionText {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    background-color: #d1d1d15b;
    padding: 5px;
}


.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

button {
    width: 100%;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5C0A98;
    color: #FFFFFF;
    transition: all 0.3s;
}

button:hover, button:focus{
    background-color: #F64C32;
    box-shadow: 0px 5px 5px rgba(56, 42, 225, 0.2);

}

.finish {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.finish span {
    font-size: 1.5rem;
    margin: 2rem 0;
}

.finish button{
    margin-bottom: 4rem;
    text-align: center;
    transition: all 0.3s;
}
.finish button:hover, .finish button:focus {
    transform: scale(1.1);
}


.finish .resultTexts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.finish .resultTexts > div {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.finish .resultTexts > div > h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.finish .resultTexts > div > p {
    line-height: 1.6rem;
}

.finish .resultTexts > div > iframe{
    width: 70%;
}
