@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    background-color: #FFFFFF;   
}

main {
    background-color: #F6EFF4;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
    max-width: 540px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);

}

main h1,h2,h3 {
    margin: 0.5rem;
}

main img {
    width: 10%;
}

main .howtoplay {
    border-radius: 0.5rem;
    margin: 1rem;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-bottom: 50px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(56, 42, 225, 0.1);
    padding: 20px;
    width: 100%;
}

main .comand span {
    padding: 0.2rem;
    color: #FFFFFF;
    background-color: #5C0A98;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.content .inputs {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputs input{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    height: 35px;
    width: 35px;
    margin: 4px;
    border-radius: 0.2rem;
    color: #F64C32;
    border: 1px solid #5C0A98;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(56, 42, 225, 0.1);
}

.inputs input:first-child {
    margin-left: 0px;
}

.content .details {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
}

.content .details .hint span{
    padding: 5px;
    background-color: #5C0A98;
    color: #FFFFFF;
    font-size: 1rem;
}

.content .details .wrong-letter span {
    text-transform: uppercase;
}

.details p {
    color: #5C0A98;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: left;
}

.details .hint {
    line-height: 1.5rem;
    text-align: justify;
}

.content .typing-input {
    opacity: 0;
    z-index: -999;
    position: absolute;
}


.content .gameWin {
    display: none;
    flex-direction: column;
    margin-bottom: 2rem;
}
.gameWin h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.gameWin .textWin{
    padding: 5px;
    background-color: #5C0A98;
    color: #FFFFFF;
    font-size: 1rem;
}

.gameWin .letterWin {
    padding: 5px;
    background-color: #F64C32;
    color: #FFFFFF;
    text-transform: uppercase;
}

.content .gameOver {
    display: none;
    flex-direction: column;
    margin-bottom: 2rem;
}
.gameOver h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.gameOver span{
    padding: 5px;
    background-color: #5C0A98;
    color: #FFFFFF;
    font-size: 1rem;
}


.content .reset-btn{
    width: 100%;
    font-size: 1rem;
    padding: 15px 0;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5C0A98;
    color: #FFFFFF;
    transition: all 0.3s;
    margin-bottom: 1rem;
}

.content .reset-btn:hover{
    background-color: #F64C32;
    box-shadow: 0px 5px 5px rgba(56, 42, 225, 0.2);

}

.content .again-btn{
    justify-content: center;
    align-items: center;
    display: none;
    width: 100%;
    font-size: 1rem;
    padding: 15px 0;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: #5C0A98;
    transition: all 0.3s;
    border: 2px #5C0A98 solid;

    margin-bottom: 1rem;
}

.content .again-btn:hover{
    color:  #F64C32;
    border: 2px #F64C32 solid;
    box-shadow: 0px 5px 5px rgba(56, 42, 225, 0.2);

}

@media screen and (max-width: 600px) {

    .content .typing-input {
        
        opacity: 1;
        z-index: 1;
        position: relative;
        margin-bottom: 2rem;
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
    
    }










}